:root {
    --text-color: rgb(59, 9, 28);
    --link-color: rgb(106, 27, 54);
    --background-color: rgb(250, 211, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
    scroll-behavior: smooth;
} 

body {
    font-family: 'Afacad', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--line-color);
    text-decoration: none;
}

nav .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgb(204, 57, 101);
    height: 80px;
    gap: 10px;
}