body {
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: rgb(243, 128, 128);
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-emphasis: centre;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(238, 162, 162);
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: justify;
}

#project {
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#about {
    background-color: rgb(240, 200, 222);
    padding: 50px;
}

#contact {
    background-color: rgb(248, 159, 163);
    padding: 50px;
}