:root {
    --text-color: rgb(59, 9, 28);
    --link-color: rgb(106, 27, 54);
    --background-color: rgb(250, 211, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
    scroll-behavior: smooth;
} 

body {
    font-family: 'Afacad', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--line-color);
    text-decoration: none;
    transition: 0.1s;
}

nav .topnav a:hover {
    text-decoration: none;
    color: wheat;
}

nav .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgb(204, 57, 101);
    height: 80px;
    gap: 10px;
}

.about-section {
    text-align: justify;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    gap: 10px;
}
.about-section .text {
    flex: 2;
}   
.about-section .image {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.contactinfo {
    text-align: center;
    padding: 0 50px;
    background-color: rgb(243, 201, 197);
    border-bottom: 3px solid rgb(255, 112, 112);
    margin-top: 50px;
}

.contactinfo a:hover {
    text-decoration: none;
    color: wheat;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(204, 57, 101);
    color: var(--text-color);
    position: relative;
    bottom: 0;
    width: 100%;
}